[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geniusr"]
	path = geniusr
	url = https://github.com/ewenme/geniusr
[submodule "ghibli"]
	path = ghibli
	url = https://github.com/ewenme/ghibli
